input{
   width: 200px;
   height: 30px;
   border-radius: 10px;
   border: 1px solid black;
}

body{
   text-align: center;
   width: 20%;
   height: 50%;
   border-radius: 10px;
   border: 1px solid black; 
   margin-left : auto;
   margin-right : auto;
   margin-top: 200px;
   padding: 10px 10px 10px 20px;
}
.submit {
   border-top: 1px solid #96d1f8;
   background: #d065d6;
   background: -webkit-gradient(linear, left top, left bottom, from(#453e9c), to(#d065d6));
   background: -webkit-linear-gradient(top, #453e9c, #d065d6);
   background: -moz-linear-gradient(top, #453e9c, #d065d6);
   background: -ms-linear-gradient(top, #453e9c, #d065d6);
   background: -o-linear-gradient(top, #453e9c, #d065d6);
   padding: 6px 12px;
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.submit:hover {
   border-top-color: #763fa3;
   background: #763fa3;
   color: #91d98d;
   }
.submit:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
